In [1]:
import pandas as pd
import numpy as np
from collections import Counter

df = pd.read_csv('data/raw_data.csv')
df.drop(columns='Row Number', inplace=True)

df = df[['Area', 'Item', 'Year', 'Production', 'Import Quantity', 'Export Quantity']]
df.rename(columns={'Area': 'Country', 'Item':'Produce', 'Production':'Production Quantity'}, inplace=True)

df.head()

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity
0,Armenia,Potatoes,2000,290260.0,390.0,300.0
1,Armenia,Potatoes,2001,363834.0,2290.0,0.0
2,Armenia,Potatoes,2002,374263.0,1918.0,0.0
3,Armenia,Potatoes,2003,507518.0,2853.0,7.0
4,Armenia,Potatoes,2004,576427.0,1553.0,0.0

In [2]:
# create a country name lookup table from the countries dataset
countries = pd.read_csv('data/raw_countries.csv')

# if the country name specifies an optional prefix, add this prefix to the beginning of the country name
def add_prefix(name):
    components = name.split(', ')
    if len(components) == 2: 
        return components[1] + ' ' + components[0]
    return components[0]

countries = set((countries['Name']).apply(add_prefix)) # python sets are implemented as hashtables

In [8]:
# special cases: name formatting so that it can be found in the country lookup
def format_country(name):
    if name[:2] == 'Cz': # Czechia -> Czech Republic
        return 'Czech Republic'
    if name[:3] == 'Esw': #Eswatini -> Swaziland
        return 'Swaziland'
    if name[:2] == 'Cï¿½': # Cote d'Ivoire -> Ivory Coast since circumflex(the hat thingy) doesn't load :(     (NEEDS REVIEW)
        return 'Ivory Coast'
    if name == 'Serbia and Montenegro': # Montenegro declared independence from Serbia in 2006
        return 'Serbia'                 # categorizing temporarily as Serbia                                  (NEEDS REVIEW) 
    components = name.split(' (') # add prefixes that are in ()
    if len(components) == 2:
        if components[1] == 'former)': # Southern Sudan became independent from Sudan in 2011
            return 'Sudan'             # categorizing former Sudan temporarily as Sudan                       (NEEDS REVIEW)
        return (components[1])[:len(components[1]) - 1] + ' ' + components[0]
    if name[:5] == 'China':
        if len(name) == 5:
            return 'China'
        if name[7] == 'H':
            return 'Hong Kong'
        elif name[7] == 'M':
            return 'Macao'
        return 'Province of China Taiwan'
    return name
    
# format country names that have multiple translations/different formats so they can be found in the lookup table
df['Country'] = (df['Country']).apply(format_country)

# print a list of all regions in the dataframe that could not be found in the countries lookup table
set((df[~df['Country'].isin(countries)])['Country'])

{'Africa',
 'Americas',
 'Asia',
 'Australia & New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Europe',
 'European Union',
 'Land Locked Developing Countries',
 'Least Developed Countries',
 'Low Income Food Deficit Countries',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Net Food Importing Developing Countries',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Occupied Palestinian Territory',
 'Oceania',
 'Polynesia',
 'Small Island Developing States',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe',
 'World'}

In [10]:
# remove the regions printed above from the dataframe
df = df[df['Country'].isin(countries)]

In [14]:
# scenario 1: avacados in 2012
avacados_2012 = df[(df['Produce'] == 'Avocados') & (df['Year'] == 2012)]

# top 10 countries that exported avocados in 2012
avacados_2012.nlargest(10, 'Export Quantity')

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity
24308,Mexico,Avocados,2012,1316104.0,923.0,494481.0
85979,Chile,Avocados,2012,160000.0,698.0,91527.0
38041,Peru,Avocados,2012,268525.0,0.0,83576.0
53491,Spain,Avocados,2012,76337.0,34060.0,65494.0
52140,South Africa,Avocados,2012,91603.0,1660.0,54502.0
68912,United States of America,Avocados,2012,238495.0,502546.0,29630.0
147899,France,Avocados,2012,980.0,94500.0,18073.0
31415,New Zealand,Avocados,2012,25500.0,1.0,11077.0
134976,Ecuador,Avocados,2012,28600.0,1770.0,6048.0
55643,Brazil,Avocados,2012,159903.0,0.0,4273.0

In [24]:
# top 10 countries that imported avocados in 2012
avacados_2012.nlargest(10, 'Import Quantity')

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity
68912,United States of America,Avocados,2012,238495.0,502546.0,29630.0
147899,France,Avocados,2012,980.0,94500.0,18073.0
53491,Spain,Avocados,2012,76337.0,34060.0,65494.0
145253,El Salvador,Avocados,2012,5250.0,13754.0,3.0
89668,Costa Rica,Avocados,2012,1672.0,13731.0,95.0
1306,Australia,Avocados,2012,48951.0,9627.0,2300.0
155293,Argentina,Avocados,2012,4100.0,9179.0,117.0
156952,Honduras,Avocados,2012,1258.0,9013.0,34.0
26109,Morocco,Avocados,2012,54340.0,8817.0,1933.0
88404,Colombia,Avocados,2012,255384.0,6126.0,5.0

In [25]:
df

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity
0,Armenia,Potatoes,2000,290260.0,390.0,300.0
1,Armenia,Potatoes,2001,363834.0,2290.0,0.0
2,Armenia,Potatoes,2002,374263.0,1918.0,0.0
3,Armenia,Potatoes,2003,507518.0,2853.0,7.0
4,Armenia,Potatoes,2004,576427.0,1553.0,0.0
5,Armenia,Potatoes,2005,564211.0,915.0,302.0
6,Armenia,Potatoes,2006,539477.0,1705.0,0.0
7,Armenia,Potatoes,2007,583934.0,5794.0,0.0
8,Armenia,Potatoes,2008,648562.0,4268.0,484.0
9,Armenia,Potatoes,2009,593551.0,801.0,614.0
10,Armenia,Potatoes,2010,481956.0,1559.0,2371.0
11,Armenia,Potatoes,2011,557322.0,9363.0,439.0
12,Armenia,Potatoes,2012,647201.0,5099.0,440.0
13,Armenia,Potatoes,2013,660511.0,2102.0,9184.0
14,Armenia,Potatoes,2014,696147.0,7625.0,3326.0
15,Armenia,Potatoes,2015,607719.0,3387.0,3779.0
16,Armenia,Wheat,2000,177762.0,375221.0,0.0
17,Armenia,Wheat,2001,241679.0,294960.0,0.0
18,Armenia,Wheat,2002,284670.0,339269.0,9.0
19,Armenia,Wheat,2003,216698.0,303034.0,21.0
20,Armenia,Wheat,2004,291556.0,384598.0,0.0
21,Armenia,Wheat,2005,258361.0,319043.0,3.0
22,Armenia,Wheat,2006,146544.0,308013.0,0.0
23,Armenia,Wheat,2007,254233.0,499647.0,0.0
24,Armenia,Wheat,2008,225734.0,297735.0,15.0
25,Armenia,Wheat,2009,198080.0,376806.0,0.0
26,Armenia,Wheat,2010,183464.0,338137.0,0.0
27,Armenia,Wheat,2011,224082.0,356548.0,22.0
28,Armenia,Wheat,2012,243130.0,480359.0,0.0
29,Armenia,Wheat,2013,311558.0,345459.0,0.0
...,...,...,...,...,...,...
159498,Iceland,Barley,2004,5309.0,12425.0,0.0
159499,Iceland,Barley,2005,5300.0,13769.0,0.0
159500,Iceland,Barley,2006,5291.0,11926.0,0.0
159501,Iceland,Barley,2007,5283.0,12239.0,0.0
159502,Iceland,Barley,2008,5274.0,12517.0,0.0
159503,Iceland,Barley,2009,5265.0,10067.0,0.0
159504,Iceland,Barley,2010,5256.0,9663.0,5.0
159505,Iceland,Barley,2011,5247.0,9197.0,0.0
159506,Iceland,Barley,2012,5418.0,8822.0,0.0
159507,Iceland,Barley,2013,5517.0,9721.0,0.0
159508,Iceland,Barley,2014,4677.0,12719.0,1.0
159509,Iceland,Barley,2015,4637.0,12658.0,0.0
159510,Iceland,Barley,2016,7389.0,11748.0,0.0
159511,Iceland,Mushrooms and truffles,2000,447.0,57.0,0.0
159512,Iceland,Mushrooms and truffles,2001,450.0,52.0,0.0
159513,Iceland,Mushrooms and truffles,2002,450.0,54.0,0.0
159514,Iceland,Mushrooms and truffles,2003,465.0,59.0,0.0
159515,Iceland,Mushrooms and truffles,2004,461.0,102.0,0.0
159516,Iceland,Mushrooms and truffles,2005,438.0,154.0,0.0
159517,Iceland,Mushrooms and truffles,2006,488.0,144.0,0.0
159518,Iceland,Mushrooms and truffles,2007,575.0,171.0,0.0
159519,Iceland,Mushrooms and truffles,2008,526.0,131.0,0.0
159520,Iceland,Mushrooms and truffles,2009,553.0,54.0,0.0
159521,Iceland,Mushrooms and truffles,2010,579.0,37.0,0.0
159522,Iceland,Mushrooms and truffles,2011,583.0,46.0,0.0
159523,Iceland,Mushrooms and truffles,2012,575.0,74.0,0.0
159524,Iceland,Mushrooms and truffles,2013,585.0,83.0,0.0
159525,Iceland,Mushrooms and truffles,2014,596.0,64.0,0.0
159526,Iceland,Mushrooms and truffles,2015,550.0,176.0,0.0
159527,Iceland,Mushrooms and truffles,2016,585.0,232.0,1.0