In [3]:
# *************************************************************************************
# *                          Â© 2019 Roshini Saravanakumar                             *
# *************************************************************************************

import pandas as pd
import numpy as np
import seaborn as sns
from collections import Counter

df = pd.read_csv('../data/raw_data.csv')
df.drop(columns='Row Number', inplace=True)

df = df[['Area', 'Item', 'Year', 'Production', 'Import Quantity', 'Export Quantity']]
df.rename(columns={'Area': 'Country', 'Item':'Produce', 'Production':'Production Quantity'}, inplace=True)

# if both production and import quantity is 0, this data is not meaningful
df = df[df['Production Quantity'] + df['Import Quantity'] > 0]
df.head()

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity
0,Armenia,Potatoes,2000,290260.0,390.0,300.0
1,Armenia,Potatoes,2001,363834.0,2290.0,0.0
2,Armenia,Potatoes,2002,374263.0,1918.0,0.0
3,Armenia,Potatoes,2003,507518.0,2853.0,7.0
4,Armenia,Potatoes,2004,576427.0,1553.0,0.0

In [4]:
def calculateConsumption(entry):
    return entry['Production Quantity'] + entry['Import Quantity'] - entry['Export Quantity']

# calculate the consumption for each entry (produce + import) - export
df['Consumption Quantity'] = df.apply(calculateConsumption, axis=1)

In [5]:
def calculatePercentConsumed(entry):
    return (entry['Consumption Quantity'] / (entry['Production Quantity'] + entry['Import Quantity'])) * 100

# calculate the percentage of the total yield(production + import) for a crop that was consumed
df['Percent Consumed'] = df.apply(calculatePercentConsumed, axis=1)

In [6]:
def calculatePercentExported(entry):
    return (entry['Export Quantity'] / (entry['Production Quantity'] + entry['Import Quantity'])) * 100

# calculate the percentage of the total yield(production + import) for a crop that was exported
df['Percent Exported'] = df.apply(calculatePercentExported, axis=1)

In [8]:
# filter out entries that do not have complete info (more was exported than what was produced + imported)
df = df[(df['Percent Consumed'] >= 0) & (df['Percent Exported'] >= 0)]
df.sample(n=5)

,Country,Produce,Year,Production Quantity,Import Quantity,Export Quantity,Consumption Quantity,Percent Consumed,Percent Exported
152856,Greece,Apples,2005,250019.0,22135.0,47132.0,225022.0,82.681864,17.318136
9578,Austria,Potatoes,2006,654621.0,96644.0,70016.0,681249.0,90.680253,9.319747
36652,Paraguay,Wheat,2016,1144000.0,471.0,805612.0,338859.0,29.608352,70.391648
26486,Mozambique,Tomatoes,2013,300000.0,1219.0,0.0,301219.0,100.000000,0.000000
133620,European Union,Apricots,2016,663830.0,172361.0,183905.0,652286.0,78.006819,21.993181

In [13]:
def groupProduce (row):
    var prod
    
# group each produce by year and country
df.groupby(by=['Year', 'Country'])